<!DOCTYPE html>
<html>

<head>
    <meta charset = 'UTF-8'>
    <title>登入頁面</title>
</head>

<body>
    <center>
    	<form action='/logout' method='post'>
    	<button>登出回首頁</button>
    	</form>

        <div>登入時間</div>
        <div><%= Date %></div>

        <div><%= Session%></div>
    </center>
</body>

</html>